<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Attendance</title>
    <link rel="stylesheet" href="{%static 'css/demo.css'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">


  </head>
  <body>
  <div class="container" align='center'>
    <h1>TODAY'S ATTENDANCE</h1><hr> <br><br>
    {%if attendance_list%}
  <table border='2'>
    <thead>
      <th>Name</th>
      <th>Desigination</th>
      <th>Status</th>
    </thead>
    {%for student in attendance_list%}
  <tr>
    <td>  {{student.name}}</td>
    <td>{{student.desigination}}</td>
    <td>{{student.status}}</td>
  </tr>
    {%endfor%}
  </table>
    {%endif%}
  </div>
  </body>
</html>
